


.jumbotron {
    text-align: center;
    color: white;
    background-color: rgb(48, 45, 45);
}

#searchSubmitButton {
    background-color: blue;
    color:white;
}



/* debugging borders. Remove me once no longer needed :) */ 

header {
    border: 2px orange dashed;
}

#seachForaCitySectionID {
    border: 2px blue dashed;

}