:root {
    --blueIconColor: rgb(0, 119, 255); /* Used for the search icon and five day forecast display */ 

}


.jumbotron {
    text-align: center;
    color: white;
    background-color: rgb(48, 45, 45);
}

#searchSubmitButton {
    background-color: var(--blueIconColor);
    color:white;
}



/* debugging borders. Remove me once no longer needed :) */ 


header {
    border: 2px orange dashed;
}

.container {
    border: 2px orange dashed;
}

#forecastDisplayFiveDayID,
#forecastDisplayDailyDetailsID,
#seachForaCitySectionID {
    border: 2px blue dashed;
}

#forecastDisplayContainerSectionID {
    border: 2px purple dashed;
}