:root {
    --blueIconColor: rgb(0, 119, 255); /* Used for the search icon and five day forecast display */ 
    --greyJumboColor: rgb(24, 25, 29);
}

h2, h3, p {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--greyJumboColor);
}

.container {
    display: flex;

}

#seachForaCitySectionID {
    width: 500px;

}

label {
    font-weight: bold;
    color: var(--greyJumboColor);
}

#searchSubmitButton {
    background-color: var(--blueIconColor);
    color:white;
    border: none;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--greyJumboColor);
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--greyJumboColor);
}

.displayInfo {
    font-size: 12px;
    font-weight: bold;
    color: var(--greyJumboColor);
    margin: 4px;
}

#UVindexDisplay {
    color: white;
}

.UVindexFavorable {
    background-color: teal;
    border-radius: 4px;
}

.UVindexModerate {
    background-color: green;
    border-radius: 4px;
}

.UVindexSevere {
    background-color: red;
    border-radius: 4px;
}

#forecastDisplayFiveDayCardsID {
    margin: 2px;
    padding: 2px;

    display: flex;
    justify-content: space-evenly;

}

.cardBorder {
    height: 150px;
    width: 140px;
    border-radius: 8px;
    background-color: var(--blueIconColor);
    margin: 4px;
}

.cardBorder p {
    color: white;
    margin: 4px; 
}

#seachForaCitySectionID,
#forecastDisplayContainerSectionID {
    margin: 10px;
}

#searchBarID,
#citySearchHistory,
#forecastDisplayFiveDayID,
#forecastDisplayID {
    margin: 10px;
}

.searchHistoryCityBlock {
    margin: 4px;
}

.displayRequestInfo {
    margin: 4px; 
    padding: 4px;
}

/* debugging borders. Remove me once no longer needed :) */ 


header {
    border: 2px orange dashed;
}

.container {
    border: 2px orange dashed;
}


#seachForaCitySectionID,
#forecastDisplayContainerSectionID {
    border: 2px blue dashed;
}

#searchBarID,
#citySearchHistory,
#forecastDisplayFiveDayID,
#forecastDisplayID {
    border: 2px purple dotted;
}

.searchHistoryCityBlock {
    border: 2px green dotted;
}

.displayRequestInfo {
    border: 2px green dashed;
}


#forecastDisplayFiveDayCardsID {
    border: 2px green dotted;
}

.cardBorder {
    border: 2px orange dashed;
}