:root {
    --blueIconColor: rgb(0, 119, 255); /* Used for the search icon and five day forecast display */ 
}


.jumbotron {
    text-align: center;
    color: white;
    background-color: rgb(48, 45, 45);
}

#searchSubmitButton {
    background-color: var(--blueIconColor);
    color:white;
    border: none;
}

#UVindexDisplay {
    color: white;
}

.UVindexFavorable {
    background-color: teal;
    border-radius: 4px;
}

.UVindexModerate {
    background-color: green;
    border-radius: 4px;
}

.UVindexSevere {
    background-color: red;
    border-radius: 4px;
}

.cardBorder {
    width: 160px;
    background-color: var(--blueIconColor);
    color: white;
    margin: 2px;
}

.disappear {
    display: none; /* this will hide the question when the class is changed */ 
}


/* debugging borders. Remove me once no longer needed :) */ 


header {
    border: 2px orange dashed;
}

.container {
    border: 2px orange dashed;
}


#seachForaCitySectionID,
#forecastDisplayContainerSectionID {
    border: 2px blue dashed;
    margin: 10px;
}

#searchBarID,
#citySearchHistory,
#forecastDisplayFiveDayID,
#forecastDisplayID {
    border: 2px purple dotted;
    margin: 10px;
}

.searchHistoryCityBlock {
    border: 2px green dotted;
    margin: 4px;
}

#forecastDisplayFiveDayCardsID {
    border: 2px green dotted;
    margin: 2px;
    padding: 2px;

    display: flex;
    justify-content: space-evenly;

}

.cardBorder {
    border: 2px orange dashed;
}